.modal {
  width: 700px;
  height: 450px;
  position: absolute;
  margin: 0px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
  top: 0px;
  box-shadow: 0 2px 8px 3px;
  font-family: Helvetica, Arial, sans-serif;
  left: 100px;
}

.top {
  text-decoration: none;
}

.space {
  width: 150px;
  text-align: left;
  border: 1px solid black;
  padding: 5px;
}

.spaced {
  width: 200px;
  text-align: left;
  border: 1px solid black;
  padding: 5px;
}

.spacei {
  width: 70px;
  text-align: left;
  border: 1px solid black;
  padding: 5px;
}

.spaceh {
  width: 70px;
  text-align: left;
  border: 1px solid black;
  padding: 5px;
}